@import "bootstrap";


/*  GENERAL */

$coul-beige:#f8f0ec;
$coul-foot-head:#faebe2;

.fil-ariane{
    background-color: #f3e5de;
    margin-bottom: 16px;    
}

.form-recherche{
    input{
        width: 100%;
    }
}

.navbar-top{
    @extend .shadow-sm;
    background-color: $coul-foot-head;

}



footer{
    background-color: $coul-foot-head;
    p{
        padding-top: 16px;
        padding-bottom: 16px;
        margin: 0;
        margin-top: 16px;
    }


}

.div-login{
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 576px) {
    .div-login{
        flex-direction: column;
        input{
            margin: 0 !important;
            
        }
        >*{
            width: 100%;
        }
    }
}

header {

    h1{
        margin-bottom: 0px;
    }
}

/*  ACCUEIL */

.div-carousel{
    margin-bottom: 16px;    
}

.contenu-principal{
    background-color: $coul-beige;
    margin-top: 16px;
    border-radius: 15px;
    h1{
        padding-top: 8px;
    }
}


/*  GALERIE */

.btn-group{
    display: flex;
    justify-content: center;
}



